git/
solrdata
dbdata
ecs-params.yml
*-ecs-params.yml
.secrets
cluster-ids.txt
docker-compose-merged.yml
*-psql-params.yml
*-solr-params.yml
.byebug_history

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
