---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-camerata/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c17d142cfa682318033afebe3770bfa1"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1598041937'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/releases/29990832","assets_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/releases/29990832/assets","upload_url":"https://uploads.github.com/repos/yalelibrary/yul-dc-camerata/releases/29990832/assets{?name,label}","html_url":"https://github.com/yalelibrary/yul-dc-camerata/releases/tag/v2.5.0","id":29990832,"node_id":"MDc6UmVsZWFzZTI5OTkwODMy","tag_name":"v2.5.0","target_commitish":"master","name":"v2.5.0","draft":false,"author":{"login":"bess","id":65608,"node_id":"MDQ6VXNlcjY1NjA4","avatar_url":"https://avatars3.githubusercontent.com/u/65608?v=4","gravatar_id":"","url":"https://api.github.com/users/bess","html_url":"https://github.com/bess","followers_url":"https://api.github.com/users/bess/followers","following_url":"https://api.github.com/users/bess/following{/other_user}","gists_url":"https://api.github.com/users/bess/gists{/gist_id}","starred_url":"https://api.github.com/users/bess/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bess/subscriptions","organizations_url":"https://api.github.com/users/bess/orgs","repos_url":"https://api.github.com/users/bess/repos","events_url":"https://api.github.com/users/bess/events{/privacy}","received_events_url":"https://api.github.com/users/bess/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2020-08-21T17:22:02Z","published_at":"2020-08-21T17:24:13Z","assets":[],"tarball_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/tarball/v2.5.0","zipball_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/zipball/v2.5.0","body":"#
        Changelog\n\n## [v2.5.0](https://github.com/yalelibrary/yul-dc-camerata/tree/v2.5.0)
        (2020-08-21)\n\n[Full Changelog](https://github.com/yalelibrary/yul-dc-camerata/compare/v2.4.0...v2.5.0)\n\n**New
        Features:**\n\n- Automate releases [\\#130](https://github.com/yalelibrary/yul-dc-camerata/pull/130)
        ([bess](https://github.com/bess))\n\n**Technical Enhancements:**\n\n- Add
        camerata to taggable apps config [\\#132](https://github.com/yalelibrary/yul-dc-camerata/pull/132)
        ([bess](https://github.com/bess))\n- Make smoke tests pass on the small seed
        dataset [\\#128](https://github.com/yalelibrary/yul-dc-camerata/pull/128)
        ([fnibbit](https://github.com/fnibbit))\n- A[...]
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-camerata/pulls?state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"12ceb5002b3b9ad0af98894c032feff4"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/263117257/pulls?state=closed&page=2>;
        rel="next", <https://api.github.com/repositories/263117257/pulls?state=closed&page=5>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1598041937'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/pulls/135","id":471812460,"node_id":"MDExOlB1bGxSZXF1ZXN0NDcxODEyNDYw","html_url":"https://github.com/yalelibrary/yul-dc-camerata/pull/135","diff_url":"https://github.com/yalelibrary/yul-dc-camerata/pull/135.diff","patch_url":"https://github.com/yalelibrary/yul-dc-camerata/pull/135.patch","issue_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/issues/135","number":135,"state":"closed","locked":false,"title":"Increment
        camerata version to v2.5.1","user":{"login":"bess","id":65608,"node_id":"MDQ6VXNlcjY1NjA4","avatar_url":"https://avatars3.githubusercontent.com/u/65608?v=4","gravatar_id":"","url":"https://api.github.com/users/bess","html_url":"https://github.com/bess","followers_url":"https://api.github.com/users/bess/followers","following_url":"https://api.github.com/users/bess/following{/other_user}","gists_url":"https://api.github.com/users/bess/gists{/gist_id}","starred_url":"https://api.github.com/users/bess/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bess/subscriptions","organizations_url":"https://api.github.com/users/bess/orgs","repos_url":"https://api.github.com/users/bess/repos","events_url":"https://api.github.com/users/bess/events{/privacy}","received_events_url":"https://api.github.com/users/bess/received_events","type":"User","site_admin":false},"body":"","created_at":"2020-08-21T19:11:07Z","updated_at":"2020-08-21T19:11:37Z","closed_at":"2020-08-21T19:11:33Z","merged_at":null,"merge_commit_sha":"9fcb0658e4f0481b9fe9f8c56de3cccdc66f88a6","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/pulls/135/commits","review_comments_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/pulls/135/comments","review_comment_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/pulls/comments{/number}","comments_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/issues/135/comments","statuses_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/statuses/e58f548e38bf509440903ca3752cc2162444e09f","head":{"label":"yalelibrary:increment_camerata_version","ref":"increment_camerata_version","sha":"e58f548e38bf509440903ca3752cc2162444e09f","user":{"login":"yalelibrary","id":3673643,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM2NzM2NDM=","avatar_url":"https://avatars3.githubusercontent.com/u/3673643?v=4","gravatar_id":"","url":"https://api.github.com/users/yalelibrary","html_url":"https://github.com/yalelibrary","followers_url":"https://api.github.com/users/yalelibrary/followers","following_url":"https://api.github.com/users/yalelibrary/following{/other_user}","gists_url":"https://api.github.com/users/yalelibrary/gists{/gist_id}","starred_url":"https://api.github.com/users/yalelibrary/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yalelibrary/subscriptions","organizations_url":"https://api.github.com/users/yalelibrary/orgs","repos_url":"https://api.github.com/users/yalelibrary/repos","events_url":"https://api.github.com/users/yalelibrary/events{/privacy}","received_events_url":"https://api.github.com/users/yalelibrary/received_events","type":"Organization","site_admin":false},"repo":{"id":263117257,"node_id":"MDEwOlJlcG9zaXRvcnkyNjMxMTcyNTc=","name":"yul-dc-camerata","full_name":"yalelibrary/yul-dc-camerata","private":false,"owner":{"login":"yalelibrary","id":3673643,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM2NzM2NDM=","avatar_url":"https://avatars3.githubusercontent.com/u/3673643?v=4","gravatar_id":"","url":"https://api.github.com/users/yalelibrary","html_url":"https://github.com/yalelibrary","followers_url":"https://api.github.com/users/yalelibrary/followers","following_url":"https://api.github.com/users/yalelibrary/following{/other_user}","gists_url":"https://api.github.com/users/yalelibrary/gists{/gist_id}","starred_url":"https://api.github.com/users/yalelibrary/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yalelibrary/subscriptions","organizations_url":"https://api.github.com/users/yalelibrary/orgs","repos_url":"https://api.github.com/users/yalelibrary/repos","events_url":"https://api.github.com/users/yalelibrary/events{/privacy}","received_events_url":"https://api.github.com/users/yalelibrary/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/yalelibrary/yul-dc-camerata","description":"Coordinate
        services for YUL-DC project","fork":false,"url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata","forks_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/forks","keys_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/keys{/key_id}","collaborators_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/teams","hooks_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/hooks","issue_events_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/issues/events{/number}","events_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/events","assignees_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/assignees{/user}","branches_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/branches{/branch}","tags_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/tags","blobs_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/git/refs{/sha}","trees_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/git/trees{/sha}","statuses_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/statuses/{sha}","languages_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/languages","stargazers_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/stargazers","contributors_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/contributors","subscribers_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/subscribers","subscription_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/subscription","commits_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/commits{/sha}","git_commits_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/git/commits{/sha}","comments_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/comments{/number}","issue_comment_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/issues/comments{/number}","contents_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/contents/{+path}","compare_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/compare/{base}...{head}","merges_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/merges","archive_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/downloads","issues_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/issues{/number}","pulls_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/pulls{/number}","milestones_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/milestones{/number}","notifications_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/labels{/name}","releases_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/releases{/id}","deployments_url":"https://api.github.com/repos/yalelibrary/yul-dc-camerata/deployments","created_at":"2020-05-11T17:55:22Z","updated_at":"2020-08-21T17:22:06Z","pushed_at":"2020-08-21T19:12:43Z","git_url":"git://github.com/yalelibrary/yul-dc-camerata.git","ssh_url":"git@github.com:yalelibrary/yul-dc-camerata.git","clone_url":"https://github.com/yalelibrary/yul-dc-camerata.git","svn_url":"https://github.com/yalelibrary/yul-dc-camerata","homepage":null,"size":325,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master"}},"base":{"label":"yalelibrary:master","ref":"master","sha":"52896d354172452b2d020f934e9d723f987b786d","user":{"login":"yalelibrary","id":3673643,"node_id":"MDEyOk9yZ2FuaXphdGlvbjM2NzM2NDM=","avatar_url":"https://avatars3.githubusercontent.com/u/3673643?v=4","gravatar_id":"","url":"https://api.github.com/users/yalelibrary","html_url":"https://github.com/yalelibrary","followers_url":"https://api.github.com/users/yalelibrary/followers","following_url":"https://api.github.com/users/yalelibrary/following{/ot[...]
