---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3dcdaad89969a7a00df885a4508bfe24"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/yalelibrary/yul-dc-solr/releases/28370640","assets_url":"https://api.github.com/repos/yalelibrary/yul-dc-solr/releases/28370640/assets","upload_url":"https://uploads.github.com/repos/yalelibrary/yul-dc-solr/releases/28370640/assets{?name,label}","html_url":"https://github.com/yalelibrary/yul-dc-solr/releases/tag/v1.0.1","id":28370640,"node_id":"MDc6UmVsZWFzZTI4MzcwNjQw","tag_name":"v1.0.1","target_commitish":"master","name":"v1.0.1","draft":false,"author":{"login":"mlooney","id":3905,"node_id":"MDQ6VXNlcjM5MDU=","avatar_url":"https://avatars1.githubusercontent.com/u/3905?v=4","gravatar_id":"","url":"https://api.github.com/users/mlooney","html_url":"https://github.com/mlooney","followers_url":"https://api.github.com/users/mlooney/followers","following_url":"https://api.github.com/users/mlooney/following{/other_user}","gists_url":"https://api.github.com/users/mlooney/gists{/gist_id}","starred_url":"https://api.github.com/users/mlooney/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mlooney/subscriptions","organizations_url":"https://api.github.com/users/mlooney/orgs","repos_url":"https://api.github.com/users/mlooney/repos","events_url":"https://api.github.com/users/mlooney/events{/privacy}","received_events_url":"https://api.github.com/users/mlooney/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2020-07-08T18:09:33Z","published_at":"2020-07-08T18:14:12Z","assets":[],"tarball_url":"https://api.github.com/repos/yalelibrary/yul-dc-solr/tarball/v1.0.1","zipball_url":"https://api.github.com/repos/yalelibrary/yul-dc-solr/zipball/v1.0.1","body":"Updated
        luceneMatchVersion to silence deprecation notifications. Ticket #205"},{"url":"https://api.github.com/repos/yalelibrary/yul-dc-solr/releases/26993316","assets_url":"https://api.github.com/repos/yalelibrary/yul-dc-solr/releases/26993316/assets","upload_url":"https://uploads.github.com/repos/yalelibrary/yul-dc-solr/releases/26993316/assets{?name,label}","html_url":"https://github.com/yalelibrary/yul-dc-so[...]
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
      If-Modified-Since:
      - Fri, 24 Jul 2020 17:44:37 GMT
      If-None-Match:
      - '"836b4ea1004028cd8e1c60e4ed2b25ca"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"836b4ea1004028cd8e1c60e4ed2b25ca"'
      Last-Modified:
      - Fri, 24 Jul 2020 17:44:37 GMT
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2020 13:13:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
      If-Modified-Since:
      - Fri, 24 Jul 2020 17:44:33 GMT
      If-None-Match:
      - '"48995a0e0df749423b00a0e78d813edd"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"48995a0e0df749423b00a0e78d813edd"'
      Last-Modified:
      - Fri, 24 Jul 2020 17:44:33 GMT
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2020 13:13:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr/issues?filter=all&labels&per_page=100&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
      If-None-Match:
      - '"a286e21f244ed6e3cf4d68ee9deb9ed3"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"a286e21f244ed6e3cf4d68ee9deb9ed3"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2020 13:13:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr/pulls?per_page=100&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
      If-None-Match:
      - '"8a038b43c1c25449e5d31a434c2df3d3"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"8a038b43c1c25449e5d31a434c2df3d3"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2020 13:13:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr/issues/6/events?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
      If-None-Match:
      - '"89d0c7d4b6a19f43bc1484fb07f8bc0f"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"89d0c7d4b6a19f43bc1484fb07f8bc0f"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2020 13:13:14 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr/compare/dfcc36f7d097f4eae45832bcc828f97f77ae21c3...v1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
      If-Modified-Since:
      - Mon, 11 May 2020 17:57:48 GMT
      If-None-Match:
      - '"b59cb7e3400ecf1c109b34ec5fa44065"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"b59cb7e3400ecf1c109b34ec5fa44065"'
      Last-Modified:
      - Mon, 11 May 2020 17:57:48 GMT
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2020 13:13:14 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
      If-Modified-Since:
      - Fri, 24 Jul 2020 17:44:37 GMT
      If-None-Match:
      - '"214303f5be46fa181544e93060c220d2"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"214303f5be46fa181544e93060c220d2"'
      Last-Modified:
      - Fri, 24 Jul 2020 17:44:37 GMT
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2020 13:13:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/yalelibrary/yul-dc-solr/compare/dfcc36f7d097f4eae45832bcc828f97f77ae21c3...master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxx
      If-Modified-Since:
      - Fri, 24 Jul 2020 17:44:33 GMT
      If-None-Match:
      - '"49546c4a813e3b040fab973f4450b933"'
  response:
    status:
      code: 304
      message: Not Modified
    headers:
      Status:
      - 304 Not Modified
      Etag:
      - '"49546c4a813e3b040fab973f4450b933"'
      Last-Modified:
      - Fri, 24 Jul 2020 17:44:33 GMT
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1600349207'
      X-Ratelimit-Used:
      - '79'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Sep 2020 13:13:15 GMT
recorded_with: VCR 6.0.0
